/** CARROUSEL **/
.carrousel .slides {
  margin: 0;
  padding: 0; }
  .carrousel .slides img {
    max-width: 100%;
    height: auto; }

.carrousel.full li {
  margin: 0 5px; }

.full .flex-viewport {
  overflow: visible !important; }

/** /CARROUSEL **/
