/** CARROUSEL **/

.carrousel .slides {
  margin: 0;
  padding: 0;
  @extend .clearfix;

  img {
    max-width: 100%;
    height: auto;
  }
}

.carrousel.full li {
  margin: 0 5px;
}

.full .flex-viewport {
  overflow: visible !important;
}

.full .flex-control-paging {
  display: none;
}

.full .flex-direction-nav {
  list-style: none;
}

.inBanner {
  position: relative;

  li {
    position: relative;
    overflow: hidden;
  }

  .tattoo {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    //-ms-behavior: url(/backgroundsize.min.htc);
    height: 100%;
  }

  .tattoo_left {
    background-image: url(skin/inBannerTatoo1.png);
    width: 245px;
    max-width: 20.6229%;
    bottom: 0;
    left: 0;
  }
  .tattoo_right {
    background-image: url(skin/inBannerTatoo2.png);
    width: 299px;
    max-width: 25.16835%;
    right: 0;
    top: 0;
  }

  figcaption {
    position: absolute;
    bottom: 130px;

    left: 0;
    width: 60%;
    max-width: 60%;
    margin-left: 20%;
    text-transform: uppercase;
    font-family: 'heroregular';
    color: white;
    text-align: center;

    font-size: 22px;
    font-size: 1.375rem;
    text-shadow: 0 0 9px #333;

    span {
      display: block;
      text-align: center;
      font-size: 33px;
      font-size: 2rem;
    }
    p {
      margin: 0;
    }

  }

  .flex-direction-nav {

  }

  .flex-control-paging {
    position: absolute;
    display: block;
    bottom: 50px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border: 1px solid white;
      box-shadow: inset 0 0 2px #999, 0 0 2px #999;
      text-indent: 110%;
      overflow: hidden;
      cursor: pointer;
      -webkit-transform: rotate(45deg);

      a {
        display: block;
        height: 100%;
        transition: background-color 300ms;

        &.flex-active {
          background-color: #0f9095;
        }

        &:focus, &:hover {
          background-color: rgba(15,144, 149, .6);
        }

      }

      .touch & {
        width: 40px;
        height: 40px;
        margin-right: 16px;

      }

    }

    .touch & {
      bottom: 10px;
    }
  }

}

.full {

  position: relative;

  .image {
    position: relative;
    padding: 10px;
    background: #fff;
  }

  figure {
    overflow: hidden;
    @include prefix(transform, rotate3d(0, 0, 0, 0));
  }

  figcaption {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 40%;
    min-width: 20%;



    &:before {
      content: "";
      background: rgb(15, 144, 149);
      background: rgba(15, 144, 149, .8);
      border-left: 10px solid #fff;
      position: absolute;
      top:-35%;
      bottom:-15%;
      left:100%;
      right: -90%;
      z-index: 0;
      @include prefix(transform-origin, 0 0);
      @include prefix(transform, rotate(0deg));
      @include transition(500ms);

    }

    &:after {
      content: "";
      display: inline-block;
      height: 130%;
      width: 4px;
      background: red;
      margin-left: -1em;
      vertical-align: middle;
      visibility: hidden;
    }

    opacity: 1;
    //@include transition(300ms);
    //@include prefix(transform, rotate(20deg) translateX(0px));
    .tattoo {
      background:  url(skin/fullTatoo.png) no-repeat right top;
      position: absolute;
      width:237px;height: 235px;top:0;right:-15px;
      @include prefix(transform, translate(500px));
      @include transition(500ms);

    }

    div {
      padding: 10px;
      position: relative;
      z-index: 1;
      display: inline-block;
      min-width: 220px;
      max-width: 90%;
      @include prefix(transform, translate(500px));
      @include transition(500ms);







      span {
        font-family: "GFS Didot", serif;
        color: #fff;
        font-weight: normal;

        font-size: 26px;
      }

      p {
        font-family: Arial, serif;
        color: #fff;
        font-size: 13px;
      }

    }


  }

  .flex-prev, .flex-next {
    position: absolute;
    top:50%;
    width:50px;
    height: 50px;

    background: #fff url(skin/arrowFull.png) no-repeat center 20px;
    text-indent: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 #0f9095;
    @include transition(300ms);

  }
  .flex-next {right: 20px;}
  .flex-prev {left: 20px;background-position: center -70px;}

  .flex-next:focus, .flex-prev:focus,
  .flex-next:hover, .flex-prev:hover {
    box-shadow: 0 0 0px 3px #0f9095;
  }

  .flex-next:active, .flex-prev:active {
    box-shadow: 0 0 0px 3px #0f9095, inset 0 0 5px 1px #333;
  }

  figure:hover figcaption:before {
    @include prefix(transform, rotate(20deg) translateX(0px));
    left: 30%;

  }
  figure:hover figcaption div, figure:hover figcaption .tattoo {
    @include prefix(transform, translate(0px));
  }
}

/** /CARROUSEL **/