@font-face {
  font-family: 'heroregular';
  src: url("fonts/hero-webfont.eot");
  src: url("fonts/hero-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/hero-webfont.woff") format("woff"), url("fonts/hero-webfont.ttf") format("truetype"), url("fonts/hero-webfont.svg#heroregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .grid-container:before, .postList ul:before, footer:before, footer ul:before, .wpcf7-form:before, .signin:before, .carrousel .slides:before, .block:before,
.clearfix:after,
.grid-container:after,
.postList ul:after,
footer:after,
footer ul:after,
.wpcf7-form:after,
.signin:after,
.carrousel .slides:after,
.block:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .grid-container:after, .postList ul:after, footer:after, footer ul:after, .wpcf7-form:after, .signin:after, .carrousel .slides:after, .block:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, .grid-container, .postList ul, footer, footer ul, .wpcf7-form, .signin, .carrousel .slides, .block {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:before, .grid-container:before, .postList ul:before, footer:before, footer ul:before, .wpcf7-form:before, .signin:before, .carrousel .slides:before, .block:before,
.clearfix:after,
.grid-container:after,
.postList ul:after,
footer:after,
footer ul:after,
.wpcf7-form:after,
.signin:after,
.carrousel .slides:after,
.block:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.clearfix:after, .grid-container:after, .postList ul:after, footer:after, footer ul:after, .wpcf7-form:after, .signin:after, .carrousel .slides:after, .block:after {
  clear: both; }

.grid-container, .postList ul {
  margin-left: -20px; }
  .no-transform .grid-container, .no-transform .postList ul, .postList .no-transform ul {
    margin-left: -20px; }

@media all {
  .grid-5, .grid-10, .grid-15, .grid-20, .grid-25, .postList_By4 li, .grid-30, .grid-35, .grid-40, .grid-45, .grid-50, .postList_By2 li, .grid-55, .grid-60, .grid-65, .grid-70, .grid-75, .grid-80, .grid-85, .grid-90, .grid-95, .grid-33, .postList_By3 li, .grid-66, .grid-100, .postList_By1 li {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0; }

  .grid-5 {
    width: 5%; }

  .grid-10 {
    width: 10%; }

  .grid-15 {
    width: 15%; }

  .grid-20 {
    width: 20%; }

  .grid-25, .postList_By4 li {
    width: 25%; }

  .grid-30 {
    width: 30%; }

  .grid-35 {
    width: 35%; }

  .grid-40 {
    width: 40%; }

  .grid-45 {
    width: 45%; }

  .grid-50, .postList_By2 li {
    width: 50%; }

  .grid-55 {
    width: 55%; }

  .grid-60 {
    width: 60%; }

  .grid-65 {
    width: 65%; }

  .grid-70 {
    width: 70%; }

  .grid-75 {
    width: 75%; }

  .grid-80 {
    width: 80%; }

  .grid-85 {
    width: 85%; }

  .grid-90 {
    width: 90%; }

  .grid-95 {
    width: 95%; }

  .grid-33, .postList_By3 li {
    width: 33.33%; }

  .grid-66 {
    width: 66.66%; }

  .grid-100, .postList_By1 li {
    width: 100%; } }
@media screen and (max-width: 599px) {
  .mini-grid-5, .mini-grid-10, .mini-grid-15, .mini-grid-20, .mini-grid-25, .mini-grid-30, .mini-grid-35, .mini-grid-40, .mini-grid-45, .mini-grid-50, .mini-grid-55, .mini-grid-60, .mini-grid-65, .mini-grid-70, .mini-grid-75, .mini-grid-80, .mini-grid-85, .mini-grid-90, .mini-grid-95, .mini-grid-33, .mini-grid-66, .mini-grid-100, .postList_By2 li, .postList_By3 li, .postList_By4 li {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0; }

  .mini-grid-5 {
    width: 5%; }

  .mini-grid-10 {
    width: 10%; }

  .mini-grid-15 {
    width: 15%; }

  .mini-grid-20 {
    width: 20%; }

  .mini-grid-25 {
    width: 25%; }

  .mini-grid-30 {
    width: 30%; }

  .mini-grid-35 {
    width: 35%; }

  .mini-grid-40 {
    width: 40%; }

  .mini-grid-45 {
    width: 45%; }

  .mini-grid-50 {
    width: 50%; }

  .mini-grid-55 {
    width: 55%; }

  .mini-grid-60 {
    width: 60%; }

  .mini-grid-65 {
    width: 65%; }

  .mini-grid-70 {
    width: 70%; }

  .mini-grid-75 {
    width: 75%; }

  .mini-grid-80 {
    width: 80%; }

  .mini-grid-85 {
    width: 85%; }

  .mini-grid-90 {
    width: 90%; }

  .mini-grid-95 {
    width: 95%; }

  .mini-grid-33 {
    width: 33.33%; }

  .mini-grid-66 {
    width: 66.66%; }

  .mini-grid-100, .postList_By2 li, .postList_By3 li, .postList_By4 li {
    width: 100%; } }
@media screen and (min-width: 600px) and (max-width: 767px) {
  .mobile-grid-5, .mobile-grid-10, .mobile-grid-15, .mobile-grid-20, .mobile-grid-25, .mobile-grid-30, .mobile-grid-35, .mobile-grid-40, .mobile-grid-45, .mobile-grid-50, .postList_By3 li, .postList_By4 li, .mobile-grid-55, .mobile-grid-60, .mobile-grid-65, .mobile-grid-70, .mobile-grid-75, .mobile-grid-80, .mobile-grid-85, .mobile-grid-90, .mobile-grid-95, .mobile-grid-33, .mobile-grid-66, .mobile-grid-100, .postList_By2 li {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0; }

  .mobile-grid-5 {
    width: 5%; }

  .mobile-grid-10 {
    width: 10%; }

  .mobile-grid-15 {
    width: 15%; }

  .mobile-grid-20 {
    width: 20%; }

  .mobile-grid-25 {
    width: 25%; }

  .mobile-grid-30 {
    width: 30%; }

  .mobile-grid-35 {
    width: 35%; }

  .mobile-grid-40 {
    width: 40%; }

  .mobile-grid-45 {
    width: 45%; }

  .mobile-grid-50, .postList_By3 li, .postList_By4 li {
    width: 50%; }

  .mobile-grid-55 {
    width: 55%; }

  .mobile-grid-60 {
    width: 60%; }

  .mobile-grid-65 {
    width: 65%; }

  .mobile-grid-70 {
    width: 70%; }

  .mobile-grid-75 {
    width: 75%; }

  .mobile-grid-80 {
    width: 80%; }

  .mobile-grid-85 {
    width: 85%; }

  .mobile-grid-90 {
    width: 90%; }

  .mobile-grid-95 {
    width: 95%; }

  .mobile-grid-33 {
    width: 33.33%; }

  .mobile-grid-66 {
    width: 66.66%; }

  .mobile-grid-100, .postList_By2 li {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 959px) {
  .tablet-grid-5, .tablet-grid-10, .tablet-grid-15, .tablet-grid-20, .tablet-grid-25, .tablet-grid-30, .tablet-grid-35, .tablet-grid-40, .tablet-grid-45, .tablet-grid-50, .tablet-grid-55, .tablet-grid-60, .tablet-grid-65, .tablet-grid-70, .tablet-grid-75, .tablet-grid-80, .tablet-grid-85, .tablet-grid-90, .tablet-grid-95, .tablet-grid-33, .postList_By3 li, .postList_By4 li, .tablet-grid-66, .tablet-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0; }

  .tablet-grid-5 {
    width: 5%; }

  .tablet-grid-10 {
    width: 10%; }

  .tablet-grid-15 {
    width: 15%; }

  .tablet-grid-20 {
    width: 20%; }

  .tablet-grid-25 {
    width: 25%; }

  .tablet-grid-30 {
    width: 30%; }

  .tablet-grid-35 {
    width: 35%; }

  .tablet-grid-40 {
    width: 40%; }

  .tablet-grid-45 {
    width: 45%; }

  .tablet-grid-50 {
    width: 50%; }

  .tablet-grid-55 {
    width: 55%; }

  .tablet-grid-60 {
    width: 60%; }

  .tablet-grid-65 {
    width: 65%; }

  .tablet-grid-70 {
    width: 70%; }

  .tablet-grid-75 {
    width: 75%; }

  .tablet-grid-80 {
    width: 80%; }

  .tablet-grid-85 {
    width: 85%; }

  .tablet-grid-90 {
    width: 90%; }

  .tablet-grid-95 {
    width: 95%; }

  .tablet-grid-33, .postList_By3 li, .postList_By4 li {
    width: 33.33%; }

  .tablet-grid-66 {
    width: 66.66%; }

  .tablet-grid-100 {
    width: 100%; } }
@media screen and (min-width: 960px) and (max-width: 1187px) {
  .desktop-grid-5, .desktop-grid-10, .desktop-grid-15, .desktop-grid-20, .desktop-grid-25, .desktop-grid-30, .desktop-grid-35, .desktop-grid-40, .desktop-grid-45, .desktop-grid-50, .desktop-grid-55, .desktop-grid-60, .desktop-grid-65, .desktop-grid-70, .desktop-grid-75, .desktop-grid-80, .desktop-grid-85, .desktop-grid-90, .desktop-grid-95, .desktop-grid-33, .desktop-grid-66, .desktop-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0; }

  .desktop-grid-5 {
    width: 5%; }

  .desktop-grid-10 {
    width: 10%; }

  .desktop-grid-15 {
    width: 15%; }

  .desktop-grid-20 {
    width: 20%; }

  .desktop-grid-25 {
    width: 25%; }

  .desktop-grid-30 {
    width: 30%; }

  .desktop-grid-35 {
    width: 35%; }

  .desktop-grid-40 {
    width: 40%; }

  .desktop-grid-45 {
    width: 45%; }

  .desktop-grid-50 {
    width: 50%; }

  .desktop-grid-55 {
    width: 55%; }

  .desktop-grid-60 {
    width: 60%; }

  .desktop-grid-65 {
    width: 65%; }

  .desktop-grid-70 {
    width: 70%; }

  .desktop-grid-75 {
    width: 75%; }

  .desktop-grid-80 {
    width: 80%; }

  .desktop-grid-85 {
    width: 85%; }

  .desktop-grid-90 {
    width: 90%; }

  .desktop-grid-95 {
    width: 95%; }

  .desktop-grid-33 {
    width: 33.33%; }

  .desktop-grid-66 {
    width: 66.66%; }

  .desktop-grid-100 {
    width: 100%; } }
@media screen and (min-width: 1188px) {
  .wide-grid-5, .wide-grid-10, .wide-grid-15, .wide-grid-20, .wide-grid-25, .wide-grid-30, .wide-grid-35, .wide-grid-40, .wide-grid-45, .wide-grid-50, .wide-grid-55, .wide-grid-60, .wide-grid-65, .wide-grid-70, .wide-grid-75, .wide-grid-80, .wide-grid-85, .wide-grid-90, .wide-grid-95, .wide-grid-33, .wide-grid-66, .wide-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0; }

  .wide-grid-5 {
    width: 5%; }

  .wide-grid-10 {
    width: 10%; }

  .wide-grid-15 {
    width: 15%; }

  .wide-grid-20 {
    width: 20%; }

  .wide-grid-25 {
    width: 25%; }

  .wide-grid-30 {
    width: 30%; }

  .wide-grid-35 {
    width: 35%; }

  .wide-grid-40 {
    width: 40%; }

  .wide-grid-45 {
    width: 45%; }

  .wide-grid-50 {
    width: 50%; }

  .wide-grid-55 {
    width: 55%; }

  .wide-grid-60 {
    width: 60%; }

  .wide-grid-65 {
    width: 65%; }

  .wide-grid-70 {
    width: 70%; }

  .wide-grid-75 {
    width: 75%; }

  .wide-grid-80 {
    width: 80%; }

  .wide-grid-85 {
    width: 85%; }

  .wide-grid-90 {
    width: 90%; }

  .wide-grid-95 {
    width: 95%; }

  .wide-grid-33 {
    width: 33.33%; }

  .wide-grid-66 {
    width: 66.66%; }

  .wide-grid-100 {
    width: 100%; } }
#nav {
  position: relative;
  z-index: 1000; }
  #nav a {
    color: #a49e99;
    font-size: 13px;
    font-family: 'heroregular', sans-serif;
    text-decoration: none;
    text-transform: uppercase; }
    #nav a:focus, #nav a:hover {
      text-decoration: underline; }
  #nav ul {
    margin: 0;
    padding: 0; }
  #nav .current > a {
    color: #9c6715; }
  #nav > ul > li {
    display: inline-block;
    vertical-align: middle; }
  #nav > ul > li > ul > li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    text-align: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
    #nav > ul > li > ul > li ul {
      position: absolute;
      z-index: 1;
      top: 180%;
      left: 50%;
      right: 0;
      height: 0;
      overflow: hidden;
      background: #f2f2f1;
      width: 160px;
      margin-left: -80px;
      text-align: center;
      padding: 0; }
      #nav > ul > li > ul > li ul li {
        padding: 5px 0;
        border-bottom: 1px solid #fff; }
        #nav > ul > li > ul > li ul li a {
          font-size: 12px;
          display: block; }
      #nav > ul > li > ul > li ul:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        left: 50%;
        top: -20px;
        margin-left: -6px; }
    #nav > ul > li > ul > li:hover ul, #nav > ul > li > ul > li:hover + ul, #nav > ul > li > ul > li.hover ul, #nav > ul > li > ul > li.hover + ul, #nav > ul > li > ul > li a:focus ul, #nav > ul > li > ul > li a:focus + ul {
      height: auto;
      border: 10px solid #fff;
      overflow: visible; }
  #nav #home {
    position: absolute;
    left: 50%;
    margin-left: -72px; }
  #nav .left, #nav .right {
    width: 39%;
    margin-top: 85px; }
  #nav .left > ul {
    text-align: right; }
  #nav .left > ul > li {
    padding-left: 35px;
    text-align: right; }
    #nav .left > ul > li:first-of-type, #nav .left > ul > li.first {
      padding-left: 0; }
  #nav .right {
    margin-left: 22%; }
    #nav .right > ul > li {
      padding-right: 35px;
      text-align: left; }
      #nav .right > ul > li:last-of-type, #nav .right > ul > li.last {
        padding-right: 0; }

@media screen and (max-width: 1187px) {
  #nav a {
    font-size: 12px; }
  #nav .left, #nav .right {
    width: 42%;
    margin-top: 85px; }
  #nav .left > ul > li {
    padding-left: 22px; }
  #nav .right {
    margin-left: 16%; }
    #nav .right > ul > li {
      padding-right: 22px; }

  #home img {
    -webkit-transform: scale(0.8);
    *zoom: 0.8; } }
@media screen and (max-width: 979px) {
  #showNav {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    right: 0;
    top: -25px; }

  #nav #home {
    left: -19px;
    top: -49px;
    position: absolute;
    margin-left: 0; }
  #nav > ul {
    margin-top: 40px; }

  .left, .right {
    float: right;
    clear: right; }

  .left, .right, .left li, .right li {
    display: block !important;
    margin: 0 !important;
    text-align: center !important;
    padding: 0 !important;
    width: 100% !important;
    position: relative; }

  #nav .left > ul > li {
    background: #F2F2F1; }

  .left {
    border: 10px solid #FFF;
    border-bottom: 0px solid #FFF; }

  .right {
    border: 10px solid #FFF;
    border-top: 0px solid #FFF; }

  ul > li > ul > li {
    border-bottom: 1px solid #fff; }

  ul > li > ul > li ul {
    display: none; } }
@media screen and (max-width: 959px) {
  #nav > ul > li > ul > li {
    width: 33.33%;
    text-align: center; }
  #nav .left, #nav .right {
    width: 50%;
    margin-top: 85px; }
  #nav .left > ul > li {
    text-align: center; }
  #nav .right {
    margin-left: 0; }
    #nav .right > ul > li {
      text-align: center; }

  #home img {
    -webkit-transform: scale(0.7) translateY(-25px);
    *zoom: 0.7; } }
@media screen and (max-width: 550px) {
  #nav #home {
    left: 0%; } }
html {
  background: #FFF;
  padding: 13px 13px 0 13px;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  padding-top: 22px;
  background: #F2F2F1;
  overflow-x: hidden; }

/*body:after, body:before {
  content:"";
  position: fixed;
  background:#fff;
  width:13px;
  top:0;bottom:0;
}

body:after {
  right:0;
}
body:before {
  left:0;
}*/
/** WRAPPERS **/
header, footer, .banner, .blockInner, section, .flex-viewport, .homeBottom .postList {
  width: 1188px;
  max-width: 100%;
  margin: 0 auto; }

.carrousel.full .flex-viewport {
  width: 846px; }

.inBanner .flex-direction-nav {
  display: none; }

@media screen and (max-width: 1187px) {
  header, footer, .banner, .blockInner, section, .homeBottom .postList {
    width: 960px; } }
@media screen and (max-width: 959px) {
  header, footer, .banner, .blockInner, section, .homeBottom .postList {
    width: 98%; }

  .flex-viewport {
    width: 80%; } }
/** HELPERS **/
img {
  max-width: 100%;
  height: auto; }

/** HEADER **/
header {
  min-height: 125px;
  margin-bottom: 38px; }

/** **/
.inBanner {
  margin-bottom: 20px; }

.banner {
  position: relative; }

.banner:before {
  content: "";
  background: url(skin/bannerTatoo.png);
  width: 243px;
  height: 420px;
  position: absolute;
  left: 0;
  top: 0; }

.banner:after {
  content: "";
  background: url(skin/bannerTatoo2.png);
  width: 259px;
  height: 396px;
  position: absolute;
  right: 0;
  bottom: 0; }

footer {
  min-height: 44px;
  line-height: 44px;
  background-color: #009592;
  background-image: url(skin/footerTattoo.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  font-family: "GFS Didot", serif;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 12px; }
  footer ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: inline-block;
      margin-right: 5px;
      line-height: 2em;
      vertical-align: middle; }
    footer ul a, footer ul a:active, footer ul a:visited {
      text-decoration: none;
      color: #fff; }
    footer ul a:hover, footer ul a:focus {
      text-decoration: underline;
      -webkit-transition: 200ms ease-out;
      -moz-transition: 200ms ease-out;
      -ms-transition: 200ms ease-out;
      -o-transition: 200ms ease-out;
      transition: 200ms ease-out;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
  footer .social {
    float: right; }
    footer .social a {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url(skin/pictoFooter.png) no-repeat left top;
      text-indent: 100%;
      overflow: hidden; }
    footer .social li.pinterest a {
      background-position: left 0px; }
    footer .social li.twitter a {
      background-position: left -40px; }
    footer .social li.fb a {
      background-position: left -80px; }
    footer .social li.gplus a {
      background-position: left -120px; }
    footer .social li.linkedin a {
      background-position: left -160px; }
  footer .legal {
    margin-left: 100px; }

.fogOpen {
  overflow: hidden; }

#fog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(skin/loaderW8.GIF);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 300ms, z-index 0ms 300ms;
  -moz-transition: opacity 300ms, z-index 0ms 300ms;
  -ms-transition: opacity 300ms, z-index 0ms 300ms;
  -o-transition: opacity 300ms, z-index 0ms 300ms;
  transition: opacity 300ms, z-index 0ms 300ms;
  overflow: hidden;
  text-align: center; }
  .lt-ie9 #fog {
    background: url(skin/fog.png) repeat left top; }
  #fog img {
    -webkit-transition: 500ms 300ms;
    -moz-transition: 500ms 300ms;
    -ms-transition: 500ms 300ms;
    -o-transition: 500ms 300ms;
    transition: 500ms 300ms;
    border: 0px solid #fff; }
    #fog img.landscape {
      max-width: 90%; }
    #fog img.portrait {
      max-height: 90%; }
  .fogOpen #fog {
    z-index: 10000;
    opacity: 1;
    -webkit-transition: opacity 300ms, z-index 0ms;
    -moz-transition: opacity 300ms, z-index 0ms;
    -ms-transition: opacity 300ms, z-index 0ms;
    -o-transition: opacity 300ms, z-index 0ms;
    transition: opacity 300ms, z-index 0ms; }
    .fogOpen #fog img.loaded {
      border: 10px solid #fff;
      opacity: 1; }
  #fog:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    margin-left: 0;
    height: 100%;
    background: red;
    visibility: hidden; }

#espacePro {
  position: absolute;
  top: 10px;
  right: 25px;
  background: white url(skin/avatar.png) no-repeat 95% 4px;
  z-index: 9999;
  max-height: 30px;
  overflow: hidden;
  -webkit-transition: max-height 300ms;
  -moz-transition: max-height 300ms;
  -ms-transition: max-height 300ms;
  -o-transition: max-height 300ms;
  transition: max-height 300ms; }
  #espacePro.logged:hover {
    max-height: 100px; }
  #espacePro a, #espacePro a:hover, #espacePro a:focus, #espacePro a:visited {
    color: #bdbdbd;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 40px 5px 15px;
    font-family: heroregular, sans-serif;
    text-decoration: none; }
  #espacePro a:hover, #espacePro a:focus {
    text-decoration: underline; }

#login {
  border-bottom: 0px solid #fff;
  box-sizing: border-box;
  background-color: #009592;
  background-image: url(skin/logo_white.png);
  background-position: 50px center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10000;
  left: 13px;
  right: 13px;
  top: 13px;
  height: 0px;
  overflow: hidden;
  font-family: heroregular, sans-serif;
  font-size: 12px;
  padding: 0px 25px 0px 50px;
  -webkit-transition-duration: 800ms;
  -moz-transition-duration: 800ms;
  -ms-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  -webkit-transition-timing-function: cubic-bezier(0,1,.5,1);
  -moz-transition-timing-function: cubic-bezier(0,1,.5,1);
  -ms-transition-timing-function: cubic-bezier(0,1,.5,1);
  -o-transition-timing-function: cubic-bezier(0,1,.5,1);
  transition-timing-function: cubic-bezier(0,1,.5,1); }
  #login .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0; }
  #login .subtitle {
    color: #b7dedf;
    text-transform: uppercase;
    font-size: 12px; }
  #login .right {
    float: right;
    width: 27%;
    border-left: 1px solid #b7dedf;
    margin-left: -1px;
    box-sizing: border-box;
    padding-left: 2em; }
  #login .left {
    float: left;
    width: 73%;
    box-sizing: border-box;
    padding-left: 170px; }
    #login .left.only {
      padding-top: 36px; }
    #login .left form p {
      width: 40%; }
      #login .left form p.center {
        margin-left: 20%;
        margin-top: 20px; }
      #login .left form p input {
        width: 100%; }
  #login ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #009592; }
  #login :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #009592; }
  #login ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #009592; }
  #login :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #009592; }
  #login.open {
    padding: 25px 25px 25px 50px;
    height: auto;
    min-height: 90px;
    overflow: visible;
    border-bottom: 10px solid #fff; }
  #login form p {
    padding: 0 1em 0 0;
    margin: 0 0 8px;
    box-sizing: border-box; }
  #login form a, #login form a:visited, #login form a:focus, #login form a:hover {
    color: #fff;
    text-decoration: none; }
  #login form a:focus, #login form a:hover {
    text-decoration: underline; }
  #login form legend {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase; }
  #login input, #login a.button {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
    border-radius: 6px;
    border: none;
    padding: 5px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: heroregular, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    margin-right: 15px; }
    #login input[type="text"], #login input[type="password"], #login input[type="email"], #login a.button[type="text"], #login a.button[type="password"], #login a.button[type="email"] {
      text-indent: 1em;
      width: 50%;
      color: #009592; }
      #login input[type="text"]:invalid, #login input[type="password"]:invalid, #login input[type="email"]:invalid, #login a.button[type="text"]:invalid, #login a.button[type="password"]:invalid, #login a.button[type="email"]:invalid {
        background: #b7dedf; }
      #login input[type="text"]:valid, #login input[type="text"]:focus, #login input[type="password"]:valid, #login input[type="password"]:focus, #login input[type="email"]:valid, #login input[type="email"]:focus, #login a.button[type="text"]:valid, #login a.button[type="text"]:focus, #login a.button[type="password"]:valid, #login a.button[type="password"]:focus, #login a.button[type="email"]:valid, #login a.button[type="email"]:focus {
        background: #fff; }
  #login .button {
    background: #fff;
    padding: 7px 20px !important;
    outline: none;
    text-decoration: none;
    color: #009592; }
    #login .button:hover, #login .button:focus {
      background: #b7dedf; }
    #login .button:active {
      box-shadow: inset 0 0 0px 1px #009592; }
  #login input {
    border: 1px solid transparent; }
  #login input.wpcf7-not-valid {
    border-color: red; }

#loginClose {
  position: absolute;
  bottom: -33px;
  color: #515151;
  background: #fff;
  right: 15px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0px 15px 0px; }
  #loginClose:before {
    content: "X";
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .6em; }
  #loginClose:focus, #loginClose:hover {
    text-decoration: underline; }

.wpcf7-form p, .signin p {
  float: left;
  width: 50%; }

.wpcf7-response-output {
  color: white;
  text-align: center; }

.wpcf7-not-valid-tip-no-ajax {
  color: #FFF;
  text-indent: 14px;
  display: inline-block;
  position: relative;
  top: 3px; }

.check {
  color: #fff; }
  .check input {
    margin-right: .5em; }

@media screen and (max-width: 1187px) {
  #login input[type="text"], #login input[type="password"], #login input[type="email"], #login a.button[type="text"], #login a.button[type="email"] {
    width: 100%; }

  #login input[type="submit"] {
    display: block;
    margin-bottom: 1em; }

  #login .left form p {
    width: 50%; }

  #login .left form p.center {
    margin-left: 25%; } }
@media screen and (max-width: 768px) {
  #login input[type="text"], #login input[type="email"], #login a.button[type="text"], #login a.button[type="email"] {
    width: 100%; }

  #login .left, #login .right {
    float: none;
    width: 100%;
    padding-left: 170px; }

  #login input[type="submit"] {
    display: inline-block;
    margin-bottom: 0em; }

  #login .left {
    margin-top: 20px; }

  #login .right {
    border: none; } }
@media screen and (max-width: 600px) {
  #login {
    background-image: url(skin/logo_white_small.png);
    background-position: 15px 15px; }

  #login .left form p {
    border: none; }

  #login .left, #login .right {
    padding-left: 30px;
    border: none; }

  #login .right {
    border-bottom: 1px solid #b7dedf;
    padding-bottom: 20px; } }
@media screen and (max-width: 400px) {
  #login {
    background-image: none;
    padding: 0 10px !important; }

  #login .left, #login .right {
    padding-left: 0px; } }
.tpl-info {
  background: #0f9095;
  font-family: heroregular, sans-serif;
  color: #87d2c7;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  padding: 15% 0;
  box-sizing: border-box;
  /* JS WORK ON ME */ }
  .tpl-info a {
    color: inherit !important;
    text-decoration: none; }
    .tpl-info a:focus, .tpl-info a:hover {
      text-decoration: underline; }
  .tpl-info [itemprop='name'] {
    color: white; }
  .isNotMobile .tpl-info:before {
    content: "";
    background: url(skin/inBannerTatoo1.png);
    height: 469px;
    width: 245px;
    position: absolute;
    top: 0;
    left: 0; }
  .tpl-info:after {
    content: "";
    background: url(skin/inBannerTatoo2.png);
    height: 469px;
    width: 299px;
    position: absolute;
    top: 0;
    right: 0; }
  .tpl-info .identity {
    max-width: 250px;
    margin: 0 auto;
    font-family: heroregular, sans-serif;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    vertical-align: top; }
  .tpl-info .identity_fake {
    display: none;
    width: 1px;
    vertical-align: middle; }
  .tpl-info .rte {
    max-width: 500px;
    margin: 1em auto 0;
    padding-bottom: 1em; }
  .tpl-info p {
    margin: 0;
    padding: 0; }

@media screen and (max-width: 900px) {
  .tpl-info:before {
    display: none; } }
@media screen and (max-width: 800px) {
  .tpl-info .identity {
    margin-top: 30px;
    width: 100%; }

  .tpl-info .identity_fake {
    height: auto !important; }

  .tpl-info:after {
    display: none; } }
@media screen and (max-height: 650px) {
  .tpl-info {
    padding: 3% 0; } }
.homeBottom {
  min-height: 750px;
  background: #645650;
  box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.75);
  padding: 40px 125px; }
  .homeBottom.noway {
    min-height: 300px; }
    .homeBottom.noway h1, .homeBottom.noway p {
      color: white; }
  .homeBottom li.news:after {
    display: none; }
  .homeBottom li.news .news_header {
    background: #fff;
    border-bottom: 1px solid #645650;
    cursor: pointer;
    padding: 10px 20px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
    .homeBottom li.news .news_header a {
      text-decoration: none; }
    .homeBottom li.news .news_header:last-of-type {
      border-bottom: 0px solid #000;
      padding-bottom: 13px; }
    .homeBottom li.news .news_header:hover {
      background: #009095;
      background: #009592; }
      .homeBottom li.news .news_header:hover p {
        color: #fff; }
    .homeBottom li.news .news_header h2 {
      color: #d6b35d;
      margin: 0;
      font-size: 16px;
      font-family: "GFS Didot", serif;
      text-transform: uppercase;
      font-weight: normal; }
    .homeBottom li.news .news_header p {
      color: #9c9e9f;
      margin: 0;
      font-size: 13px;
      font-family: 'heroregular', sans-serif;
      min-height: 36px;
      max-height: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -ms-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms; }

/** CARROUSEL **/
.carrousel .slides {
  margin: 0;
  padding: 0; }
  .carrousel .slides img {
    max-width: 100%;
    height: auto; }

.carrousel.full li {
  margin: 0 5px; }

.full .flex-viewport {
  overflow: visible !important; }

.full .flex-control-paging {
  display: none; }

.full .flex-direction-nav {
  list-style: none; }

.inBanner {
  position: relative; }
  .inBanner li {
    position: relative;
    overflow: hidden; }
  .inBanner .tattoo {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    height: 100%; }
  .inBanner .tattoo_left {
    background-image: url(skin/inBannerTatoo1.png);
    width: 245px;
    max-width: 20.6229%;
    bottom: 0;
    left: 0; }
  .inBanner .tattoo_right {
    background-image: url(skin/inBannerTatoo2.png);
    width: 299px;
    max-width: 25.16835%;
    right: 0;
    top: 0; }
  .inBanner figcaption {
    position: absolute;
    bottom: 130px;
    left: 0;
    width: 60%;
    max-width: 60%;
    margin-left: 20%;
    text-transform: uppercase;
    font-family: 'heroregular';
    color: white;
    text-align: center;
    font-size: 22px;
    font-size: 1.375rem;
    text-shadow: 0 0 9px #333; }
    .inBanner figcaption span {
      display: block;
      text-align: center;
      font-size: 33px;
      font-size: 2rem; }
    .inBanner figcaption p {
      margin: 0; }
  .inBanner .flex-control-paging {
    position: absolute;
    display: block;
    bottom: 50px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0; }
    .inBanner .flex-control-paging li {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
      border: 1px solid white;
      box-shadow: inset 0 0 2px #999, 0 0 2px #999;
      text-indent: 110%;
      overflow: hidden;
      cursor: pointer;
      -webkit-transform: rotate(45deg); }
      .inBanner .flex-control-paging li a {
        display: block;
        height: 100%;
        transition: background-color 300ms; }
        .inBanner .flex-control-paging li a.flex-active {
          background-color: #0f9095; }
        .inBanner .flex-control-paging li a:focus, .inBanner .flex-control-paging li a:hover {
          background-color: rgba(15, 144, 149, 0.6); }
      .touch .inBanner .flex-control-paging li {
        width: 40px;
        height: 40px;
        margin-right: 16px; }
    .touch .inBanner .flex-control-paging {
      bottom: 10px; }

.full {
  position: relative; }
  .full .image {
    position: relative;
    padding: 10px;
    background: #fff; }
  .full figure {
    overflow: hidden;
    -webkit-transform: rotate3d(0, 0, 0, 0);
    -moz-transform: rotate3d(0, 0, 0, 0);
    -ms-transform: rotate3d(0, 0, 0, 0);
    -o-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0); }
  .full figcaption {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 40%;
    min-width: 20%;
    opacity: 1; }
    .full figcaption:before {
      content: "";
      background: #0f9095;
      background: rgba(15, 144, 149, 0.8);
      border-left: 10px solid #fff;
      position: absolute;
      top: -35%;
      bottom: -15%;
      left: 100%;
      right: -90%;
      z-index: 0;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms; }
    .full figcaption:after {
      content: "";
      display: inline-block;
      height: 130%;
      width: 4px;
      background: red;
      margin-left: -1em;
      vertical-align: middle;
      visibility: hidden; }
    .full figcaption .tattoo {
      background: url(skin/fullTatoo.png) no-repeat right top;
      position: absolute;
      width: 237px;
      height: 235px;
      top: 0;
      right: -15px;
      -webkit-transform: translate(500px);
      -moz-transform: translate(500px);
      -ms-transform: translate(500px);
      -o-transform: translate(500px);
      transform: translate(500px);
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms; }
    .full figcaption div {
      padding: 10px;
      position: relative;
      z-index: 1;
      display: inline-block;
      min-width: 220px;
      max-width: 90%;
      -webkit-transform: translate(500px);
      -moz-transform: translate(500px);
      -ms-transform: translate(500px);
      -o-transform: translate(500px);
      transform: translate(500px);
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms; }
      .full figcaption div span {
        font-family: "GFS Didot", serif;
        color: #fff;
        font-weight: normal;
        font-size: 26px; }
      .full figcaption div p {
        font-family: Arial, serif;
        color: #fff;
        font-size: 13px; }
  .full .flex-prev, .full .flex-next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: white url(skin/arrowFull.png) no-repeat center 20px;
    text-indent: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 #0f9095;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .full .flex-next {
    right: 20px; }
  .full .flex-prev {
    left: 20px;
    background-position: center -70px; }
  .full .flex-next:focus, .full .flex-prev:focus,
  .full .flex-next:hover, .full .flex-prev:hover {
    box-shadow: 0 0 0px 3px #0f9095; }
  .full .flex-next:active, .full .flex-prev:active {
    box-shadow: 0 0 0px 3px #0f9095, inset 0 0 5px 1px #333; }
  .full figure:hover figcaption:before {
    -webkit-transform: rotate(20deg) translateX(0px);
    -moz-transform: rotate(20deg) translateX(0px);
    -ms-transform: rotate(20deg) translateX(0px);
    -o-transform: rotate(20deg) translateX(0px);
    transform: rotate(20deg) translateX(0px);
    left: 30%; }
  .full figure:hover figcaption div, .full figure:hover figcaption .tattoo {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px); }

/** /CARROUSEL **/
.postList ul {
  padding: 0; }
  .postList ul > li {
    list-style: none;
    float: left;
    margin-bottom: 20px;
    height: 318px;
    position: relative;
    overflow: hidden; }
    .isNotMobile .postList ul > li:after {
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      right: 0;
      bottom: 0;
      background: rgba(15, 144, 149, 0.8) url(skin/postHoverTatoo.png) no-repeat bottom right;
      opacity: 0;
      z-index: 2;
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      -ms-transition: opacity 300ms;
      -o-transition: opacity 300ms;
      transition: opacity 300ms; }
    .postList ul > li a {
      display: block;
      text-decoration: none; }
.postList .image {
  position: absolute;
  z-index: 1;
  left: 20px;
  right: 0px;
  bottom: 0px;
  height: 260px;
  background-size: cover;
  background-position: center center;
  background-color: white; }
  .lt-ie9 .postList .image {
    background: #0f9095; }
.postList .header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 20px;
  right: 0;
  background: #fff;
  padding: 10px 5px 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: max-height 500ms, overflow 0ms 0ms;
  -moz-transition: max-height 500ms, overflow 0ms 0ms;
  -ms-transition: max-height 500ms, overflow 0ms 0ms;
  -o-transition: max-height 500ms, overflow 0ms 0ms;
  transition: max-height 500ms, overflow 0ms 0ms; }
  .isNotMobile .postList .header:before {
    content: "";
    position: absolute;
    opacity: 0;
    bottom: -103px;
    left: 52px;
    width: 60px;
    height: 68px;
    background: url(skin/postHoverMoreInfo.png) no-repeat 0 0;
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  .postList .header h2 {
    color: #d6b35d;
    margin: 0;
    font-size: 16px;
    font-family: "GFS Didot", serif;
    text-transform: uppercase;
    font-weight: normal; }
  .postList .header p {
    color: #9c9e9f;
    margin: 0;
    font-size: 13px;
    font-family: 'heroregular', sans-serif;
    min-height: 36px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: max-height 500ms;
    -moz-transition: max-height 500ms;
    -ms-transition: max-height 500ms;
    -o-transition: max-height 500ms;
    transition: max-height 500ms; }
.isNotMobile .postList li:hover:after {
  opacity: 1; }
.postList li:hover .header:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #FFF;
  bottom: -10px;
  left: 70px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1; }
.lt-ie9 .postList li:hover .header:after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #fff;
  bottom: -12px;
  background: transparent; }
.postList li:hover .header:before {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
.postList li:hover .header p {
  max-height: 250px; }

.block {
  padding: 40px 76px 20px 82px; }
  .block h1 {
    color: #aa792d;
    font-size: 32px;
    font-family: "GFS Didot", serif;
    margin: 0 0 15px; }
    .block h1:first-letter {
      text-transform: uppercase; }
  .block .rte {
    text-align: justify;
    color: #717171; }
    .block .rte p {
      margin-top: -2px;
      font-size: 16px;
      line-height: 1.6em;
      font-family: Arial;
      letter-spacing: .3px; }
    .block .rte blockquote {
      max-width: 60%;
      margin: 0 auto; }
    .block .rte blockquote p {
      font-family: "GFS Didot", serif;
      font-size: 20px;
      color: #946d1e;
      display: block;
      white-space: pre-wrap;
      line-height: 1.6em;
      margin: 0; }
    .block .rte blockquote p:first-of-type:before, .block .rte blockquote p:last-of-type:after {
      content: "";
      display: inline-block;
      background: url(skin/quote.png) no-repeat left top;
      width: 32px;
      height: 31px;
      vertical-align: bottom;
      position: relative;
      left: -4px; }
    .block .rte blockquote p:last-of-type:after {
      background-position: left bottom;
      left: 4px; }
  .block:nth-of-type(odd) {
    background: #e8e8e8; }
  .block .medias {
    margin-bottom: 3em; }
  .block .medias figure {
    position: relative;
    cursor: pointer; }
    .block .medias figure img {
      box-shadow: 1px 1px 2px #ccc, -1px 1px 2px #ccc; }
    .block .medias figure:before {
      content: "";
      position: absolute;
      border: 10px solid #fff;
      top: 0px;
      left: 100%;
      right: 0px;
      bottom: 0px;
      opacity: 0;
      background: #0f9095;
      background: rgba(15, 144, 149, 0.8) url(skin/loupe.png) no-repeat center center;
      -webkit-transition: all 250ms, opacity 100ms;
      -moz-transition: all 250ms, opacity 100ms;
      -ms-transition: all 250ms, opacity 100ms;
      -o-transition: all 250ms, opacity 100ms;
      transition: all 250ms, opacity 100ms; }
  .block figure {
    float: left; }
  .block figure:hover:before {
    left: 0;
    opacity: 1; }

.onRight .medias {
  float: right;
  margin-left: 4em; }

.onLeft .medias {
  float: left;
  margin-right: 4em; }

.by0.medias {
  margin: 0; }

.by1 figure {
  display: block; }
  .by1 figure .br {
    display: none; }

.by2.type2a {
  text-align: center; }
.by2.type2a .br {
  display: block; }
.by2 figure {
  float: none;
  margin-bottom: 20px; }
  .by2 figure.landscape {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  .by2 figure.portrait {
    display: inline-block;
    *display: inline;
    *zoom: 1; }
  .onLeft .by2 figure {
    margin-right: 20px; }
    .onLeft .by2 figure:last-child {
      margin-right: 0em; }
  .onRight .by2 figure {
    margin-left: 20px; }
    .onRight .by2 figure:last-child {
      margin-right: 0em; }

.by3 figure {
  display: block; }
.by3 figure {
  margin-left: 20px;
  margin-bottom: 20px; }
.by3 td:first-child {
  text-align: right; }
.by3 td:last-child {
  text-align: left; }
.by3 td:only-of-type {
  text-align: center; }

.onRight .by4 figure {
  margin: 0 0 20px 20px; }
.onLeft .by4 figure {
  margin: 0 0 20px 20px; }

.by4 .br {
  float: left; }

.by4 .br2 {
  clear: both; }

.by4 tr:first-of-type td {
  vertical-align: bottom; }

.by4 tr:last-of-type td {
  vertical-align: top; }

.by4 tr td:first-of-type {
  text-align: right; }

.by4 tr td:last-of-type {
  text-align: left; }

@media screen and (max-width: 850px) {
  .block .medias {
    margin: 0 auto;
    width: 90%;
    float: none;
    display: block;
    overflow: hidden; } }
@media screen and (max-width: 850px) {
  .by4 figure {
    max-width: 40%; }

  .block {
    padding: 40px 20px 20px 20px; } }
.type3a td {
  vertical-align: bottom; }

.type3b td {
  vertical-align: top; }

.imageViewer {
  position: absolute;
  max-width: 98%;
  left: 0;
  top: 0; }

/*.type3a figure.first {
  width: 502px;

  img {
    min-width: 100%;
  }
}*/
.docs .metas {
  display: block; }

.isReallyMobile .carrousel.inBanner, .isReallyMobile .banner {
  display: none; }
.isReallyMobile .postList li .image {
  display: none !important; }

.isMobile .homeBottom {
  padding: 20px; }
.isMobile .homeBottom .postList li {
  width: 100% !important;
  height: auto !important; }
.isMobile .postList li .header {
  position: static; }
  .isMobile .postList li .header:before {
    display: none;
    background: none; }
.isMobile .postList li .header p {
  max-height: none !important; }
.isMobile .postList ul > li:after {
  display: none; }
.isMobile .postList ul > li {
  height: auto !important; }
.isMobile figure figcaption:before,
.isMobile figure:hover figcaption:before {
  -webkit-transform: rotate(20deg) translateX(0px);
  -moz-transform: rotate(20deg) translateX(0px);
  -ms-transform: rotate(20deg) translateX(0px);
  -o-transform: rotate(20deg) translateX(0px);
  transform: rotate(20deg) translateX(0px);
  left: -20%; }
.isMobile .full .flex-prev {
  left: 5px;
  bottom: 10px;
  top: auto; }
.isMobile .full .flex-next {
  right: 5px;
  bottom: 10px;
  top: auto; }
.isMobile .tpl-info:before {
  display: none; }
.isMobile .tpl-info {
  margin-top: 30px; }
.isMobile .left, .isMobile .right {
  max-height: 0 !important;
  -webkit-transition: max-height 300ms 0ms, opacity 300ms 200ms;
  -moz-transition: max-height 300ms 0ms, opacity 300ms 200ms;
  -ms-transition: max-height 300ms 0ms, opacity 300ms 200ms;
  -o-transition: max-height 300ms 0ms, opacity 300ms 200ms;
  transition: max-height 300ms 0ms, opacity 300ms 200ms;
  overflow: hidden;
  opacity: 0; }
.isMobile .left {
  margin-top: 7px !important; }
.isMobile .open .left, .isMobile .open .right {
  max-height: 200px !important;
  opacity: 1;
  -webkit-transition: max-height 300ms 100ms, opacity 300ms 0;
  -moz-transition: max-height 300ms 100ms, opacity 300ms 0;
  -ms-transition: max-height 300ms 100ms, opacity 300ms 0;
  -o-transition: max-height 300ms 100ms, opacity 300ms 0;
  transition: max-height 300ms 100ms, opacity 300ms 0; }
.isMobile header {
  min-height: 16px; }
.isMobile #showNav {
  text-indent: -200%;
  overflow: hidden;
  background: url(skin/pictoNavRWD.png) no-repeat right top;
  min-height: 23px; }
.isMobile .open #showNav {
  background-position: right bottom; }
.isMobile .inBanner figcaption {
  width: 80%;
  max-width: 80%;
  margin-left: 10%; }
.isMobile .tattoo_right {
  display: none !important; }

.isTablet .homeBottom {
  padding: 40px 60px; }
