@font-face {
    font-family: 'heroregular';
    src: url('fonts/hero-webfont.eot');
    src: url('fonts/hero-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/hero-webfont.woff') format('woff'),
    url('fonts/hero-webfont.ttf') format('truetype'),
    url('fonts/hero-webfont.svg#heroregular') format('svg');
    font-weight: normal;
    font-style: normal;

}