@import "grid";
@import "modules";

$bp1: 1188px;
$bp2: 960px;
$bp3: 768px;
$bp4: 600px;
$gutter: 20px;

.grid-container {
  @extend .clearfix;
  margin-left: -20px;
  .no-transform & {
    margin-left: -$gutter;
  }

}

  @for $i from 0 through 100 {
    %grid-#{$i} {
      width: $i * 1%;
      color:blue;
    }
  }

@media all {
  $ctx: "";
  @import "grid-base";
}

@media screen and (max-width: $bp4 - 1) {
  $ctx: "mini-";
  @import "grid-base";
}

@media screen and (min-width: $bp4) and (max-width: $bp3 - 1) {
  $ctx: "mobile-";
  @import "grid-base";
}

@media screen and (min-width: $bp3) and (max-width: $bp2 - 1) {
  $ctx: "tablet-";
  @import "grid-base";
}

@media screen and (min-width: $bp2) and (max-width: $bp1 - 1) {
  $ctx: "desktop-";
  @import "grid-base";
}

@media screen and (min-width: $bp1) {
  $ctx: "wide-";
  @import "grid-base";
}

