%grid {
  float: left;
  box-sizing: border-box;
  padding-left: $gutter;
  padding-right: 0;

}

@for $i from 1 through 19 {
  .#{$ctx}grid-#{$i*5} {
    width: $i * 5%;
    @extend %grid;
  }
}

@for $i from 1 through 2 {
  .#{$ctx}grid-#{$i*33} {width: $i * 33.33%;@extend %grid;}
}

.#{$ctx}grid-100 {
  width: 100%;
  @extend %grid;
}