@media all {
  .grid-5, .grid-10, .grid-15, .grid-20, .grid-25, .grid-30, .grid-35, .grid-40, .grid-45, .grid-50, .grid-55, .grid-60, .grid-65, .grid-70, .grid-75, .grid-80, .grid-85, .grid-90, .grid-95, .grid-33, .grid-66, .grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: Opx; }

  .grid-5 {
    width: 5%; }

  .grid-10 {
    width: 10%; }

  .grid-15 {
    width: 15%; }

  .grid-20 {
    width: 20%; }

  .grid-25 {
    width: 25%; }

  .grid-30 {
    width: 30%; }

  .grid-35 {
    width: 35%; }

  .grid-40 {
    width: 40%; }

  .grid-45 {
    width: 45%; }

  .grid-50 {
    width: 50%; }

  .grid-55 {
    width: 55%; }

  .grid-60 {
    width: 60%; }

  .grid-65 {
    width: 65%; }

  .grid-70 {
    width: 70%; }

  .grid-75 {
    width: 75%; }

  .grid-80 {
    width: 80%; }

  .grid-85 {
    width: 85%; }

  .grid-90 {
    width: 90%; }

  .grid-95 {
    width: 95%; }

  .grid-33 {
    width: 33%; }

  .grid-66 {
    width: 66%; }

  .grid-100 {
    width: 100%; } }
@media screen and (max-width: 599px) {
  .mini-grid-5, .mini-grid-10, .mini-grid-15, .mini-grid-20, .mini-grid-25, .mini-grid-30, .mini-grid-35, .mini-grid-40, .mini-grid-45, .mini-grid-50, .mini-grid-55, .mini-grid-60, .mini-grid-65, .mini-grid-70, .mini-grid-75, .mini-grid-80, .mini-grid-85, .mini-grid-90, .mini-grid-95, .mini-grid-33, .mini-grid-66, .mini-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 1Opx;
    padding-right: 1Opx; }

  .mini-grid-5 {
    width: 5%; }

  .mini-grid-10 {
    width: 10%; }

  .mini-grid-15 {
    width: 15%; }

  .mini-grid-20 {
    width: 20%; }

  .mini-grid-25 {
    width: 25%; }

  .mini-grid-30 {
    width: 30%; }

  .mini-grid-35 {
    width: 35%; }

  .mini-grid-40 {
    width: 40%; }

  .mini-grid-45 {
    width: 45%; }

  .mini-grid-50 {
    width: 50%; }

  .mini-grid-55 {
    width: 55%; }

  .mini-grid-60 {
    width: 60%; }

  .mini-grid-65 {
    width: 65%; }

  .mini-grid-70 {
    width: 70%; }

  .mini-grid-75 {
    width: 75%; }

  .mini-grid-80 {
    width: 80%; }

  .mini-grid-85 {
    width: 85%; }

  .mini-grid-90 {
    width: 90%; }

  .mini-grid-95 {
    width: 95%; }

  .mini-grid-33 {
    width: 33%; }

  .mini-grid-66 {
    width: 66%; }

  .mini-grid-100 {
    width: 100%; } }
@media screen and (min-width: 600px) and (max-width: 767px) {
  .mobile-grid-5, .mobile-grid-10, .mobile-grid-15, .mobile-grid-20, .mobile-grid-25, .mobile-grid-30, .mobile-grid-35, .mobile-grid-40, .mobile-grid-45, .mobile-grid-50, .mobile-grid-55, .mobile-grid-60, .mobile-grid-65, .mobile-grid-70, .mobile-grid-75, .mobile-grid-80, .mobile-grid-85, .mobile-grid-90, .mobile-grid-95, .mobile-grid-33, .mobile-grid-66, .mobile-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 1Opx;
    padding-right: 1Opx; }

  .mobile-grid-5 {
    width: 5%; }

  .mobile-grid-10 {
    width: 10%; }

  .mobile-grid-15 {
    width: 15%; }

  .mobile-grid-20 {
    width: 20%; }

  .mobile-grid-25 {
    width: 25%; }

  .mobile-grid-30 {
    width: 30%; }

  .mobile-grid-35 {
    width: 35%; }

  .mobile-grid-40 {
    width: 40%; }

  .mobile-grid-45 {
    width: 45%; }

  .mobile-grid-50 {
    width: 50%; }

  .mobile-grid-55 {
    width: 55%; }

  .mobile-grid-60 {
    width: 60%; }

  .mobile-grid-65 {
    width: 65%; }

  .mobile-grid-70 {
    width: 70%; }

  .mobile-grid-75 {
    width: 75%; }

  .mobile-grid-80 {
    width: 80%; }

  .mobile-grid-85 {
    width: 85%; }

  .mobile-grid-90 {
    width: 90%; }

  .mobile-grid-95 {
    width: 95%; }

  .mobile-grid-33 {
    width: 33%; }

  .mobile-grid-66 {
    width: 66%; }

  .mobile-grid-100 {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 959px) {
  .tablet-grid-5, .tablet-grid-10, .tablet-grid-15, .tablet-grid-20, .tablet-grid-25, .tablet-grid-30, .tablet-grid-35, .tablet-grid-40, .tablet-grid-45, .tablet-grid-50, .tablet-grid-55, .tablet-grid-60, .tablet-grid-65, .tablet-grid-70, .tablet-grid-75, .tablet-grid-80, .tablet-grid-85, .tablet-grid-90, .tablet-grid-95, .tablet-grid-33, .tablet-grid-66, .tablet-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 1Opx;
    padding-right: 1Opx; }

  .tablet-grid-5 {
    width: 5%; }

  .tablet-grid-10 {
    width: 10%; }

  .tablet-grid-15 {
    width: 15%; }

  .tablet-grid-20 {
    width: 20%; }

  .tablet-grid-25 {
    width: 25%; }

  .tablet-grid-30 {
    width: 30%; }

  .tablet-grid-35 {
    width: 35%; }

  .tablet-grid-40 {
    width: 40%; }

  .tablet-grid-45 {
    width: 45%; }

  .tablet-grid-50 {
    width: 50%; }

  .tablet-grid-55 {
    width: 55%; }

  .tablet-grid-60 {
    width: 60%; }

  .tablet-grid-65 {
    width: 65%; }

  .tablet-grid-70 {
    width: 70%; }

  .tablet-grid-75 {
    width: 75%; }

  .tablet-grid-80 {
    width: 80%; }

  .tablet-grid-85 {
    width: 85%; }

  .tablet-grid-90 {
    width: 90%; }

  .tablet-grid-95 {
    width: 95%; }

  .tablet-grid-33 {
    width: 33%; }

  .tablet-grid-66 {
    width: 66%; }

  .tablet-grid-100 {
    width: 100%; } }
@media screen and (min-width: 960px) and (max-width: 1187px) {
  .desktop-grid-5, .desktop-grid-10, .desktop-grid-15, .desktop-grid-20, .desktop-grid-25, .desktop-grid-30, .desktop-grid-35, .desktop-grid-40, .desktop-grid-45, .desktop-grid-50, .desktop-grid-55, .desktop-grid-60, .desktop-grid-65, .desktop-grid-70, .desktop-grid-75, .desktop-grid-80, .desktop-grid-85, .desktop-grid-90, .desktop-grid-95, .desktop-grid-33, .desktop-grid-66, .desktop-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 1Opx;
    padding-right: 1Opx; }

  .desktop-grid-5 {
    width: 5%; }

  .desktop-grid-10 {
    width: 10%; }

  .desktop-grid-15 {
    width: 15%; }

  .desktop-grid-20 {
    width: 20%; }

  .desktop-grid-25 {
    width: 25%; }

  .desktop-grid-30 {
    width: 30%; }

  .desktop-grid-35 {
    width: 35%; }

  .desktop-grid-40 {
    width: 40%; }

  .desktop-grid-45 {
    width: 45%; }

  .desktop-grid-50 {
    width: 50%; }

  .desktop-grid-55 {
    width: 55%; }

  .desktop-grid-60 {
    width: 60%; }

  .desktop-grid-65 {
    width: 65%; }

  .desktop-grid-70 {
    width: 70%; }

  .desktop-grid-75 {
    width: 75%; }

  .desktop-grid-80 {
    width: 80%; }

  .desktop-grid-85 {
    width: 85%; }

  .desktop-grid-90 {
    width: 90%; }

  .desktop-grid-95 {
    width: 95%; }

  .desktop-grid-33 {
    width: 33%; }

  .desktop-grid-66 {
    width: 66%; }

  .desktop-grid-100 {
    width: 100%; } }
@media screen and (min-width: 1188px) {
  .wide-grid-5, .wide-grid-10, .wide-grid-15, .wide-grid-20, .wide-grid-25, .wide-grid-30, .wide-grid-35, .wide-grid-40, .wide-grid-45, .wide-grid-50, .wide-grid-55, .wide-grid-60, .wide-grid-65, .wide-grid-70, .wide-grid-75, .wide-grid-80, .wide-grid-85, .wide-grid-90, .wide-grid-95, .wide-grid-33, .wide-grid-66, .wide-grid-100 {
    float: left;
    box-sizing: border-box;
    padding-left: 1Opx;
    padding-right: 1Opx; }

  .wide-grid-5 {
    width: 5%; }

  .wide-grid-10 {
    width: 10%; }

  .wide-grid-15 {
    width: 15%; }

  .wide-grid-20 {
    width: 20%; }

  .wide-grid-25 {
    width: 25%; }

  .wide-grid-30 {
    width: 30%; }

  .wide-grid-35 {
    width: 35%; }

  .wide-grid-40 {
    width: 40%; }

  .wide-grid-45 {
    width: 45%; }

  .wide-grid-50 {
    width: 50%; }

  .wide-grid-55 {
    width: 55%; }

  .wide-grid-60 {
    width: 60%; }

  .wide-grid-65 {
    width: 65%; }

  .wide-grid-70 {
    width: 70%; }

  .wide-grid-75 {
    width: 75%; }

  .wide-grid-80 {
    width: 80%; }

  .wide-grid-85 {
    width: 85%; }

  .wide-grid-90 {
    width: 90%; }

  .wide-grid-95 {
    width: 95%; }

  .wide-grid-33 {
    width: 33%; }

  .wide-grid-66 {
    width: 66%; }

  .wide-grid-100 {
    width: 100%; } }
