.isReallyMobile {
  .carrousel.inBanner, .banner {
    display: none;
  }

  .postList li .image {
    display: none !important;
  }
}

.isMobile {

  .homeBottom {
    padding: 20px;
  }
  .homeBottom .postList li {
    width: 100% !important;
    height: auto !important;
  }
  .postList li .header {
    position: static;

    &:before {
      display: none;
      background: none;
    }
  }

  .postList li .header p {
    max-height: none !important;
  }

  .postList ul > li:after {
    display: none;
  }
  .postList ul > li {
    height: auto !important;
  }

  figure figcaption:before,
  figure:hover figcaption:before {
    @include prefix(transform, rotate(20deg) translateX(0px));
    left: -20%;

  }
  figure figcaption div, figure figcaption .tattoo,
  figure:hover figcaption div, figure:hover figcaption .tattoo {
    //@include prefix(transform, translateX(-65px) translateY(21px));
  }

  .full .flex-prev {
    left: 5px;
    bottom: 10px;
    top: auto;
  }
  .full .flex-next {
    right: 5px;
    bottom: 10px;
    top: auto;
  }

  .tpl-info:before {
    display: none;
  }
  .tpl-info {
    margin-top: 30px;
  }

  .left, .right {
    max-height: 0 !important;
    @include transition("max-height 300ms 0ms, opacity 300ms 200ms");
    overflow: hidden;
    opacity: 0;
  }

  .left {
    margin-top: 7px !important;
  }

  .right {

  }

  .open .left, .open .right {
    max-height: 200px !important;
    opacity: 1;
    @include transition("max-height 300ms 100ms, opacity 300ms 0");
  }

  header {
    min-height: 16px;
  }

  #showNav {
    text-indent: -200%;
    overflow: hidden;
    background: url(skin/pictoNavRWD.png) no-repeat right top;
    min-height: 23px;
  }

  .open #showNav {
    background-position: right bottom;
  }

  .inBanner figcaption {
    width: 80%;
    max-width: 80%;
    margin-left: 10%;
  }

  .tattoo_right {
    display: none !important;
  }
}


.isTablet {
  .homeBottom {
    padding: 40px 60px;
  }
}