/*
Syntax error: Undefined variable: "$unsemantic-ie7-support".
        on line 30 of modules.scss

25: .clearfix:after {
26: 
27:   clear: both;
28: }
29: 
30: @if $unsemantic-ie7-support {
31:   .clearfix {
32: 
33:     /* <IE7> *\/
34:     *zoom: 1;
35:   }

Backtrace:
modules.scss:30
/Users/tibolan/sass/bin/../lib/sass/../sass/script/variable.rb:49:in `_perform'
/Users/tibolan/sass/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:204:in `visit_if'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/tibolan/sass/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/tibolan/sass/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Users/tibolan/sass/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Users/tibolan/sass/bin/../lib/sass/../sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/tibolan/sass/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Users/tibolan/sass/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Users/tibolan/sass/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/tibolan/sass/bin/../lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/tibolan/sass/bin/../lib/sass/../sass/exec.rb:443:in `watch_or_update'
/Users/tibolan/sass/bin/../lib/sass/../sass/exec.rb:326:in `process_result'
/Users/tibolan/sass/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/tibolan/sass/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/tibolan/sass/bin/sass:9
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$unsemantic-ie7-support\".\A         on line 30 of modules.scss\A \A 25: .clearfix:after {\A 26: \A 27:   clear: both;\A 28: }\A 29: \A 30: @if $unsemantic-ie7-support {\A 31:   .clearfix {\A 32: \A 33:     /* <IE7> */\A 34:     *zoom: 1;\A 35:   }"; }
