.clear {

  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

// http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {

  clear: both;
}

@mixin prefix($sel, $rule){
  -webkit-#{$sel}: unquote($rule);
  -moz-#{$sel}: unquote($rule);
  -ms-#{$sel}: unquote($rule);
  -o-#{$sel}: unquote($rule);
  #{$sel}: unquote($rule);
}


@mixin borderBox{
  @include prefix(box-sizing, border-box);
}

@mixin transition ($value){
  @include prefix(transition, unquote($value));

}