#nav {
  position: relative;
  z-index: 1000;

  // links color
  a {
    color: #a49e99;
    font-size: 13px;
    font-family: 'heroregular', sans-serif;
    text-decoration: none;
    text-transform: uppercase;

    &:focus, &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .current > a {
    color: #9c6715;
  }

  // layout
  > ul > li {
    display: inline-block;
    vertical-align: middle;
  }
  > ul > li > ul > li {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    padding: 0;
    text-align: right;

    box-sizing: border-box;
    -moz-box-sizing: border-box;

    ul {
      position: absolute;
      z-index: 1;
      top: 180%;
      left: 50%;
      right: 0;
      height: 0;
      overflow: hidden;
      background: #f2f2f1;
      width: 160px;
      margin-left: -80px;
      text-align: center;

      padding: 0;

      li {
        padding: 5px 0;
        border-bottom: 1px solid #fff;
        a {
          font-size: 12px;
          display: block;
        }
      }

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        left: 50%;
        top: -20px;
        margin-left: -6px;

      }
    }

    &:hover, &.hover, & a:focus {

      ul, & + ul {
        height: auto;
        border: 10px solid #fff;
        overflow: visible;

      }
    }
  }

  #home {
    position: absolute;
    left: 50%;
    margin-left: -72px;
  }

  .left, .right {
    width: 39%;
    margin-top: 85px;
  }

  .left {

    > ul {
      text-align: right;
    }
    > ul > li {
      padding-left: 35px;
      text-align: right;

      &:first-of-type, &.first {
        padding-left: 0;
      }
    }
  }
  .right {

    margin-left: 22%;
    > ul > li {
      padding-right: 35px;
      text-align: left;

      &:last-of-type, &.last {
        padding-right: 0;
      }
    }
  }

}

@media screen and (max-width: 1187px) {
  #nav {
    // links color
    a {
      font-size: 12px;
    }

    .left, .right {
      width: 42%;
      margin-top: 85px;
    }

    .left {
      > ul > li {
        padding-left: 22px;
      }
    }
    .right {
      margin-left: 16%;
      > ul > li {
        padding-right: 22px;
      }
    }

  }
  #home img {
    -webkit-transform: scale(.8);
    *zoom: 0.8;
  }
}

@media screen and (max-width: 979px) {
  #showNav {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    right: 0;
    top: -25px;

  }

  #nav {
    #home {
      left: -19px;
      top: -49px;
      position: absolute;
      margin-left: 0;
    }

    > ul {
      margin-top: 40px;
    }
  }

  .left, .right {
    float: right;
    clear: right;
  }

  .left, .right, .left li, .right li {
    display: block !important;
    margin: 0 !important;
    text-align: center !important;
    padding: 0 !important;
    width: 100% !important;
    position: relative;
  }

  #nav .left > ul > li {
    background: #F2F2F1;

  }

  .left {
    border: 10px solid #FFF;
    border-bottom: 0px solid #FFF;
  }
  .right {
    border: 10px solid #FFF;
    border-top: 0px solid #FFF;
  }
  ul > li > ul > li {
    border-bottom: 1px solid #fff;

  }
  ul > li > ul > li ul {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  #nav {
    > ul > li > ul > li {
      width: 33.33%;
      text-align: center;
    }

    .left, .right {
      width: 50%;
      margin-top: 85px;
    }

    .left {
      > ul > li {
        text-align: center;
      }
    }
    .right {
      margin-left: 0;
      > ul > li {
        text-align: center;
      }
    }

  }

  #home img {
    -webkit-transform: scale(.7) translateY(-25px);
    *zoom: 0.7;
  }
}

@media screen and (max-width: 550px) {
  #nav {
    #home {
      left: 0%;
    }
  }
}