
.postList_By1 li {
  @extend .grid-100;
}

.postList_By2 li {
  @extend .grid-50;
  @extend .mobile-grid-100;
  @extend .mini-grid-100;
}

.postList_By3 li {
  @extend .grid-33;
  @extend .tablet-grid-33;
  @extend .mobile-grid-50;
  @extend .mini-grid-100;
}

.postList_By4 li {
  @extend .grid-25;
  @extend .tablet-grid-33;
  @extend .mobile-grid-50;
  @extend .mini-grid-100;
}

.postList {

  ul {
    padding: 0;
    @extend .grid-container;

    > li {
      list-style: none;
      float: left;
      margin-bottom: 20px;
      height: 318px;
      position: relative;
      overflow: hidden;

      .isNotMobile &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 20px;
        right: 0;
        bottom: 0;
        background: rgba(15, 144, 149, .8) url(skin/postHoverTatoo.png) no-repeat bottom right;
        opacity: 0;
        z-index: 2;
        @include transition(opacity 300ms);
      }

      a {
        display: block;
        text-decoration: none;
      }
    }
  }

  .image {
    position: absolute;
    z-index: 1;
    left: 20px;
    right: 0px;
    bottom: 0px;
    height: 260px;
    background-size: cover;
    background-position: center center;
    background-color: white;


    .lt-ie9 & {
      background: rgb(15, 144, 149);
      //-ms-behavior: url(/backgroundsize.min.htc);
    }


  }

  .header {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 20px;
    right: 0;
    background: #fff;
    padding: 10px 5px 10px 15px;
    @include borderBox;

    @include prefix(transition, "max-height 500ms, overflow 0ms 0ms");

    .isNotMobile &:before {
      content: "";
      position: absolute;
      opacity: 0;
      bottom: -103px;

      left: 52px;
      width: 60px;
      height: 68px;
      background: url(skin/postHoverMoreInfo.png) no-repeat 0 0;
      @include prefix(transform, translateY(-60px));
      @include transition(300ms);
    }

    h2 {
      color: #d6b35d;
      margin: 0;
      font-size: 16px;
      font-family: "GFS Didot", serif;
      text-transform: uppercase;
      font-weight: normal;
    }

    p {
      color: #9c9e9f;
      margin: 0;
      font-size: 13px;
      font-family: 'heroregular', sans-serif;
      min-height: 36px;
      max-height: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include prefix(transition, max-height 500ms);
    }
  }

  & li:hover {

    .isNotMobile &:after {
      opacity: 1;
    }

    .header {


      &:after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        background: #FFF;
        bottom: -10px;
        left: 70px;
        @include prefix(transform, rotate(45deg));
        z-index: -1;


      }

      .lt-ie9 &:after {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid #fff;
        bottom: -12px;
        background: transparent;
      }

      &:before {
        opacity: 1;
        @include prefix(transform, translateY(0));

      }

      p {

        max-height: 250px;
      }
    }


  }

}