.block {
  @extend .clearfix;
  padding: 40px 76px 20px 82px;


  h1 {
    color: #aa792d;
    font-size: 32px;
    font-family: "GFS Didot", serif;
    margin: 0 0 15px;

    &:first-letter {
      text-transform: uppercase;
    }

  }

  .rte {

    text-align: justify;
    color: #717171;

    p {
      margin-top: -2px;
      font-size: 16px;
      line-height: 1.6em;
      font-family: Arial;
      letter-spacing: .3px;
    }

    blockquote {
      max-width: 60%;
      margin: 0 auto;
    }

    blockquote p {
      font-family: "GFS Didot", serif;
      font-size: 20px;
      color:#946d1e;
      display: block;
      white-space: pre-wrap;
      line-height: 1.6em;
      margin: 0;
    }

    blockquote p:first-of-type:before, blockquote p:last-of-type:after {
      content:"";
      display: inline-block;
      background:url(skin/quote.png) no-repeat left top;
      width:32px;
      height: 31px;
      vertical-align: bottom;
      position: relative;
      left: -4px;
    }

    blockquote p:last-of-type:after {
      background-position: left bottom;
      left: 4px;
    }

  }

  &:nth-of-type(odd) {
    background: #e8e8e8;

  }
  .medias {
    margin-bottom: 3em;
  }
  .medias figure {
    position: relative;
    cursor:pointer;


    img {
      box-shadow: 1px 1px 2px #ccc, -1px 1px 2px #ccc;

    }

    &:before {
      content:"";
      position: absolute;
      border:10px solid #fff;

      top:0px;left:100%;right:0px;bottom:0px;
      opacity: 0;
      background: rgb(15, 144, 149);
      background: rgba(15, 144, 149, .8) url(skin/loupe.png) no-repeat center center;
      @include transition("all 250ms, opacity 100ms");

    }


  }
  figure {
    float: left;
  }
  figure:hover:before {

    left:0;
    opacity: 1;


  }

}

.onRight {
  .medias {
    float: right;
    margin-left: 4em;

  }

}

.onLeft {

  .medias {
    float: left;

    margin-right: 4em;
  }

}

.by0.medias {
  margin: 0;
}

.by1 figure {
  display: block;
  .br {
    display: none;
  }

}

.by2  {
  &.type2a {
    text-align: center;
  }
  &.type2a .br {
    display: block;
  }

  figure {
    float: none;
    margin-bottom: 20px;
    &.landscape {
      display: inline-block;
      *display: inline;
      *zoom:1;
    }

    &.portrait {
      display: inline-block;
      *display: inline;
      *zoom:1;
    }

    .onLeft & {
      margin-right: 20px;
      &:last-child {
        margin-right: 0em;
      }
    }

    .onRight & {
      margin-left: 20px;
      &:last-child {
        margin-right: 0em;
      }
    }
  }

}

.by3 {
  figure {
    display: block;
  }


  figure {
    margin-left: 20px;
    margin-bottom: 20px;
  }



  td:first-child {
    text-align: right;
  }

  td:last-child {
    text-align: left;
  }
  td:only-of-type {
    text-align: center;
  }

}

.by4 figure {
  .onRight & {
    margin: 0 0 20px 20px;
  }
  .onLeft & {
    margin: 0 0 20px 20px;
  }

}

.by4 .br {
  float: left;
}

.by4 .br2 {
  clear: both;
}

.by4 tr:first-of-type td {vertical-align: bottom;}
.by4 tr:last-of-type td {vertical-align: top;}
.by4 tr td:first-of-type {text-align: right;}
.by4 tr td:last-of-type {text-align: left;}




@media screen and (max-width: 850px) {
  .block .medias {
    margin: 0 auto;
    width: 90%;
    float: none;
    display: block;
    overflow: hidden;
  }
}

@media screen and (max-width: 850px) {
  .by4 figure {
    max-width: 40%;
  }
  .block {

    padding: 40px 20px 20px 20px;

  }
}

.type3a {
  td {vertical-align: bottom;}
}
.type3b {
  td {vertical-align: top;}
}
.type3b {}


.imageViewer {
  position: absolute;
  max-width: 98%;
  left:0;
  top:0;
}

/*.type3a figure.first {
  width: 502px;

  img {
    min-width: 100%;
  }
}*/
