$bloc-gutter: 20px;

html {
  background: #FFF;
  padding: 13px 13px 0 13px;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  padding-top: 22px;
  background: #F2F2F1;
  overflow-x: hidden;
}

/*body:after, body:before {
  content:"";
  position: fixed;
  background:#fff;
  width:13px;
  top:0;bottom:0;
}

body:after {
  right:0;
}
body:before {
  left:0;
}*/

/** WRAPPERS **/

header, footer, .banner, .blockInner, section, .flex-viewport, .homeBottom .postList {
  width: 1188px;
  max-width: 100%;
  margin: 0 auto;
}

.carrousel.full .flex-viewport {
  width: 846px;
}

.inBanner .flex-direction-nav {
  display: none;
}

@media screen and (max-width: 1187px) {
  header, footer, .banner, .blockInner, section, .homeBottom .postList {
    width: 960px;
  }
}

@media screen and (max-width: 959px) {
  header, footer, .banner, .blockInner, section, .homeBottom .postList {
    width: 98%;
  }
  .flex-viewport {
    width: 80%;
  }
}

/** HELPERS **/

img {
  max-width: 100%;
  height: auto;
}

/** HEADER **/
header {
  min-height: 125px;
  margin-bottom: 38px;
}

/** **/
.inBanner {
  margin-bottom: $bloc-gutter;
}

.banner {
  position: relative;
}

.banner:before {
  content: "";
  background: url(skin/bannerTatoo.png);
  width: 243px;
  height: 420px;
  position: absolute;
  left: 0;
  top: 0;
}

.banner:after {
  content: "";
  background: url(skin/bannerTatoo2.png);
  width: 259px;
  height: 396px;
  position: absolute;
  right: 0;
  bottom: 0;
}

footer {
  min-height: 44px;
  line-height: 44px;
  background-color: #009592;
  background-image: url(skin/footerTattoo.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  font-family: "GFS Didot", serif;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 12px;
  @extend .clearfix;

  ul {
    list-style: none;
    float: left;
    @extend .clearfix;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 5px;
      line-height: 2em;
      vertical-align: middle;

    }

    a, a:active, a:visited {
      text-decoration: none;
      color: #fff;
    }

    a:hover, a:focus {
      text-decoration: underline;
      @include transition(200ms ease-out);
      @include prefix(transform, scale(1.2));
    }

  }

  .social {
    float: right;

    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url(skin/pictoFooter.png) no-repeat left top;
      text-indent: 100%;
      overflow: hidden;
    }

    li.pinterest a {
      background-position: left 0px;
    }
    li.twitter a {
      background-position: left -40px;
    }
    li.fb a {
      background-position: left -80px;
    }
    li.gplus a {
      background-position: left -120px;
    }
    li.linkedin a {
      background-position: left -160px;
    }

  }

  .legal {
    margin-left: 100px;
  }

}

.fogOpen {
  overflow: hidden;
}

#fog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(skin/loaderW8.GIF);

  .lt-ie9 & {
    background: url(skin/fog.png) repeat left top;
  }

  background-repeat: no-repeat;
  background-position: center center;
  @include transition("opacity 300ms, z-index 0ms 300ms");
  overflow: hidden;

  text-align: center;

  img {
    @include transition("500ms 300ms");
    border: 0px solid #fff;

    &.landscape {
      max-width: 90%;

    }
    &.portrait {
      max-height: 90%;

    }

  }

  .fogOpen & {
    z-index: 10000;
    opacity: 1;
    @include transition("opacity 300ms, z-index 0ms");

    img.loaded {
      border: 10px solid #fff;
      opacity: 1;
    }
  }

  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    margin-left: 0;
    height: 100%;
    background: red;
    visibility: hidden;

  }
}

#espacePro {
  position: absolute;
  top: 10px;
  right: 25px;
  background: #fff url(skin/avatar.png) no-repeat 95% 4px;
  z-index: 9999;
  max-height: 30px;
  overflow: hidden;
  @include transition(max-height 300ms);

  &.logged:hover {
    max-height: 100px;
  }

  a, a:hover, a:focus, a:visited {
    color: #bdbdbd;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 40px 5px 15px;
    font-family: heroregular, sans-serif;
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

}

#login {

  .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
  }

  .subtitle {
    color: #b7dedf;
    text-transform: uppercase;
    font-size: 12px;
  }

  .right {
    float: right;
    width: 27%;
    border-left: 1px solid #b7dedf;
    margin-left: -1px;
    box-sizing: border-box;
    padding-left: 2em;

  }

  .left {
    float: left;
    width: 73%;
    box-sizing: border-box;
    padding-left: 170px;

    &.only {
      padding-top: 36px;
    }

    form {
      p {

        width: 40%;
        &.center {
          margin-left: 20%;
          margin-top: 20px;
        }
        input {
          width: 100%;
        }

      }

    }
  }

  border-bottom: 0px solid #fff;
  box-sizing: border-box;
  background-color: #009592;
  background-image: url(skin/logo_white.png);
  background-position: 50px center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10000;
  left: 13px;
  right: 13px;
  top: 13px;

  height: 0px;
  overflow: hidden;

  font-family: heroregular, sans-serif;
  font-size: 12px;
  padding: 0px 25px 0px 50px;

  @include prefix('transition-duration', 800ms);
  @include prefix('transition-timing-function', $snap);

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #009592;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #009592;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #009592;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #009592;
  }

  &.open {
    padding: 25px 25px 25px 50px;
    height: auto;
    min-height: 90px;
    overflow: visible;
    border-bottom: 10px solid #fff;

  }

  form {

    p {
      padding: 0 1em 0 0;
      margin: 0 0 8px;
      box-sizing: border-box;

    }

    a, a:visited, a:focus, a:hover {
      color: #fff;
      text-decoration: none;
    }

    a:focus, a:hover {
      text-decoration: underline;
    }

    legend {
      color: #fff;
      font-size: 14px;
      display: block;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
  input, a.button {
    @include transition("background-color 300ms");

    border-radius: 6px;
    border: none;
    padding: 5px;
    box-shadow: none;
    box-sizing: border-box;
    font-family: heroregular, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;

    &[type="text"],
    &[type="password"],
    &[type="email"] {

      &:invalid {
        background: #b7dedf;
      }
      &:valid, &:focus {
        background: #fff;
      }

      text-indent: 1em;
      width: 50%;
      color: #009592;

    }

    margin-right: 15px;
  }

  .button {
    background: #fff;
    padding: 7px 20px !important;
    outline: none;
    text-decoration: none;
    color: #009592;

    &:hover, &:focus {
      background: #b7dedf;

    }
    &:active {
      box-shadow: inset 0 0 0px 1px #009592;
    }
  }

  input {
    border: 1px solid transparent;
  }
  input.wpcf7-not-valid {
    border-color: red;
  }
}

#loginClose {
  position: absolute;
  bottom: -33px;
  color: #515151;
  background: #fff;
  right: 15px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0px 15px 0px;

  &:before {
    content: "X";
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .6em;
  }

  &:focus, &:hover {
    text-decoration: underline;
  }
}

.wpcf7-form, .signin {
  @extend .clearfix;

  p {
    float: left;
    width: 50%;
  }
}

.wpcf7-response-output {
  color: white;
  text-align: center;
}

.wpcf7-not-valid-tip-no-ajax {
  color: #FFF;
  text-indent: 14px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.check {
  color: #fff;

  input {
    margin-right: .5em;
  }
}

@media screen and (max-width: 1187px) {
  #login input[type="text"], #login input[type="password"], #login input[type="email"], #login a.button[type="text"], #login a.button[type="email"] {
    width: 100%;
  }

  #login input[type="submit"] {
    display: block;
    margin-bottom: 1em;

  }
  #login .left form p {
    width: 50%;
  }

  #login .left form p.center {
    margin-left: 25%;
  }
}

@media screen and (max-width: 768px) {
  #login input[type="text"], #login input[type="email"], #login a.button[type="text"], #login a.button[type="email"] {
    width: 100%;
  }

  #login .left, #login .right {
    float: none;
    width: 100%;
    padding-left: 170px;
  }

  #login input[type="submit"] {
    display: inline-block;
    margin-bottom: 0em;

  }

  #login .left {
    margin-top: 20px;
  }
  #login .right {

    border: none;
  }

}

@media screen and (max-width: 600px) {

  #login {
    background-image: url(skin/logo_white_small.png);
    background-position: 15px 15px;

  }

  #login .left form p {
    //width: 100%;
    border: none;
  }

  #login .left, #login .right {
    padding-left: 30px;
    border: none;
  }
  #login .right {

    border-bottom: 1px solid #b7dedf;
    padding-bottom: 20px;

  }

}

@media screen and (max-width: 400px) {

  #login {
    background-image: none;

    padding: 0 10px !important;

  }

  #login .left, #login .right {
    padding-left: 0px;

  }

}

.tpl-info {

  background: rgb(15, 144, 149);

  font-family: heroregular, sans-serif;
  color: #87d2c7;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  padding: 15% 0;
  box-sizing: border-box;

  a {
    color: inherit !important;
    text-decoration: none;

    &:focus, &:hover {
      text-decoration: underline;
    }
  }

  [itemprop='name'] {
    color: white;
  }

  .isNotMobile &:before {
    content: "";
    background: url(skin/inBannerTatoo1.png);
    height: 469px;
    width: 245px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    content: "";
    background: url(skin/inBannerTatoo2.png);
    height: 469px;
    width: 299px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .identity {
    max-width: 250px;
    margin: 0 auto;
    font-family: heroregular, sans-serif;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;

    display: inline-block;
    vertical-align: top;

  }

  /* JS WORK ON ME */
  .identity_fake {
    display: none;
    width:1px;
    vertical-align: middle;
  }

  .rte {
    max-width: 500px;
    margin: 1em auto 0;
    padding-bottom: 1em;
  }

  p {
    margin: 0;
    padding: 0;
  }

}

@media screen and (max-width: 900px) {
  .tpl-info:before {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .tpl-info .identity {
    margin-top: 30px;
    width: 100%;
  }
  .tpl-info .identity_fake {
    height: auto !important;
  }
  .tpl-info:after {
    display: none;
  }
}

@media screen and (max-height: 650px) {
  .tpl-info {
    padding: 3% 0;
  }

}

.homeBottom {
  min-height: 750px;
  background: #645650;
  box-shadow: inset 0px 0px 250px rgba(0, 0, 0, .75);
  padding: 40px 125px;

  &.noway {
    min-height: 300px;

    h1, p {
      color: white;
    }
  }

  li.news:after {
    display: none;
  }

  li.news .news_header {
    background: #fff;
    border-bottom: 1px solid #645650;
    cursor: pointer;
    padding: 10px 20px;
    @include transition(300ms);

    a {
      text-decoration: none;
    }

    &:last-of-type {
      border-bottom: 0px solid #000;
      padding-bottom: 13px;
    }

    &:hover {
      background: rgb(0, 144, 149);
      background: rgba(0, 149, 146, 1);

      p {
        color: #fff;
      }
    }

    h2 {
      color: #d6b35d;
      margin: 0;
      font-size: 16px;
      font-family: "GFS Didot", serif;
      text-transform: uppercase;
      font-weight: normal;
    }

    p {
      color: #9c9e9f;
      margin: 0;
      font-size: 13px;
      font-family: 'heroregular', sans-serif;
      min-height: 36px;
      max-height: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include transition(300ms);
    }
  }

}

